In [6]:
Today_topic = 'organising the list datatype'
print(Today_topic.title())

Organising The List Datatype

In [7]:
cars = ['bmw','audi','benz','cheverlot','kia']
print(cars)

['bmw', 'audi', 'benz', 'cheverlot', 'kia']

In [8]:
type(cars)

list

In [10]:
# how to count total no. of elements in the list

len(cars)

5

In [ ]:
# how to arrange the list in alphabetical order-- A-Z

# approcahes

1. temp. approch ====== sorted ------------ changes are temp 
2. permanent approach ====sort --- changes once done not changed

In [11]:
print(sorted(cars)) # A-Z but temporary --- alphabetical order appiled like dictionary

['audi', 'benz', 'bmw', 'cheverlot', 'kia']

In [12]:
print(cars)

['bmw', 'audi', 'benz', 'cheverlot', 'kia']

In [14]:
cars.sort()

In [15]:
print(cars)

['audi', 'benz', 'bmw', 'cheverlot', 'kia']

In [16]:
print(cars)==== changes permanent

['audi', 'benz', 'bmw', 'cheverlot', 'kia']

In [ ]:
## diff between sort and sorted ...

In [ ]:
# to print the list in reverse order # the changes applied here permanently

In [17]:
print(cars)

['audi', 'benz', 'bmw', 'cheverlot', 'kia']

In [18]:
cars.reverse()
print(cars)

['kia', 'cheverlot', 'bmw', 'benz', 'audi']

In [19]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'cheverlot', 'kia']

In [20]:
print (cars)

['kia', 'cheverlot', 'bmw', 'benz', 'audi']

In [ ]:
#introduction to silicing of lists:

In [22]:
my_students = ['sidhant','javed','ravi','gagan','subash','naveen']
print(my_students)

['sidhant', 'javed', 'ravi', 'gagan', 'subash', 'naveen']

In [ ]:
# general syntax of silicing: 

variable[startvalue:stopvlaue:stepcount]

....# note: last value is always exclusive , it will not be considered in the list  ==== +1 --

In [ ]:
## i want to have sidhant and javed in the silice

In [24]:
print(my_students[0:2])

['sidhant', 'javed']

In [ ]:
## ravi and gagan in the silice

In [25]:
print(my_students[2:4])

['ravi', 'gagan']

In [ ]:
# i want subash and naveen

In [27]:
print(my_students[4:6])

['subash', 'naveen']

In [32]:
print(my_students[0:6:2])

['sidhant', 'ravi', 'subash']

In [33]:
print(my_students)

['sidhant', 'javed', 'ravi', 'gagan', 'subash', 'naveen']

In [55]:
print(my_students[0:3:1])

['sidhant', 'javed', 'ravi']

In [ ]:
# introduction to negative indexing :== -1,-2,-3,-4...................

In [56]:
print(my_students[5
                ])

naveen

In [58]:
print(my_students[-1])

naveen

In [61]:
print(my_students[-1:-6:-2])

['naveen', 'gagan', 'javed']

In [64]:
print(my_students[-6])

sidhant

In [76]:
print(my_students[-6:-1])

['sidhant', 'javed', 'ravi', 'gagan', 'subash']